pkgbase = python-ovos-phal-plugin-brightness-control-rpi
	pkgdesc = A plugin for OpenVoiceOS hardware abstraction layer
	pkgver = 1.0.1a2
	pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-PHAL-plugin-brightness-control
	arch = any
	license = Apache
	makedepends = python-pip
	depends = python
	depends = python-mycroft-messagebus-client
	depends = python-ovos-plugin-manager
	depends = python-ovos-utils
	depends = python-requests
	noextract = ovos_PHAL_plugin_brightness_control_rpi-1.0.1a2-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/94/21/4a6f746da6087447033bba3929c52077c24fcc01b558f9a0975923a710a5/ovos_PHAL_plugin_brightness_control_rpi-1.0.1a2-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = 7f94bf7b61fa9767170611e4f34854db
	md5sums = a5c534c0b0d5eb7b11a937c909109c2c

pkgname = python-ovos-phal-plugin-brightness-control-rpi
