pkgbase = python-ovos-audio
	pkgdesc = ovos-core audio daemon client
	pkgver = 0.0.2a11
	pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-audio
	arch = any
	license = Apache
	makedepends = python-pip
	depends = python
	depends = python-ovos-bus-client
	depends = python-ovos-config
	depends = python-ovos-ocp-files-plugin
	depends = python-ovos-ocp-m3u-plugin
	depends = python-ovos-ocp-news-plugin
	depends = python-ovos-ocp-rss-plugin
	depends = python-ovos-plugin-common-play
	depends = python-ovos-plugin-manager
	depends = python-ovos-tts-plugin-mimic3-server
	depends = python-ovos-utils
	noextract = ovos_audio-0.0.2a11-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/dd/f3/eebcb08dce975fb0692187cbb7f54f7978de7a9b82b69eeaab04681433a9/ovos_audio-0.0.2a11-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = d96322e584670b795e6c1a1028cdb62c
	md5sums = a5c534c0b0d5eb7b11a937c909109c2c

pkgname = python-ovos-audio
