pkgbase = python-ovos-utils
	pkgdesc = collection of simple utilities for use across the mycroft ecosystem
	pkgver = 0.0.31a16
	pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos_utils
	arch = any
	license = custom:Apache
	makedepends = python-pip
	depends = python
	depends = python-json-database
	depends = python-kthread
	depends = python-pexpect
	depends = python-pyee
	depends = python-requests
	depends = python-watchdog
	noextract = ovos_utils-0.0.31a16-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/9f/93/236911c2b6e2719f23876056a5140e039f69115f9c5716cbc0a12d19d3ca/ovos_utils-0.0.31a16-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = f5a112df09b2d6002ff99befd3ff7970
	md5sums = b1e01b26bacfc2232046c90a330332b3

pkgname = python-ovos-utils
