pkgbase = python-ovos-core
	pkgdesc = mycroft-core packaged as a library
	pkgver = 0.0.8a2
	pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-core
	arch = any
	license = Apache
	makedepends = python-pip
	depends = python
	depends = python-combo-lock
	depends = python-ovos-backend-client
	depends = python-ovos-bus-client
	depends = python-ovos-config
	depends = python-ovos-lingua-franca
	depends = python-ovos-plugin-manager
	depends = python-ovos-utils
	depends = python-ovos-workshop
	depends = python-padacioso
	depends = python-dateutil
	depends = python-requests
	depends = python-watchdog
	depends = python-setuptools
	noextract = ovos_core-0.0.8a2-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/af/69/605491b205512b775249625b40436a23a95c05d6a1a3157fbedf4937f19a/ovos_core-0.0.8a2-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = 769f980dc897ed85a1d33e64e60e9d5b
	md5sums = 716a6805caa0b351a3f9443d428891e8

pkgname = python-ovos-core
