pkgbase = python-ovos-core
	pkgdesc = mycroft-core packaged as a library
	pkgver = 0.0.8a1
	pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-core
	arch = any
	license = Apache
	makedepends = python-pip
	depends = python
	depends = python-combo-lock
	depends = python-mycroft-messagebus-client
	depends = python-ovos-backend-client
	depends = python-ovos-config
	depends = python-ovos-lingua-franca
	depends = python-ovos-plugin-manager
	depends = python-ovos-utils
	depends = python-ovos-workshop
	depends = python-padacioso
	depends = python-dateutil
	depends = python-requests
	depends = python-watchdog
	depends = python-setuptools
	noextract = ovos_core-0.0.8a1-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/ef/34/4eb8a798cd369c8b04a66371080babdf14d8845c58fc37043aa7bff4ad86/ovos_core-0.0.8a1-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = 4d928b7b2c7db64a9b7598d64b2e9c9a
	md5sums = 716a6805caa0b351a3f9443d428891e8

pkgname = python-ovos-core
