pkgbase = python-ovos-ocp-news-plugin
	pkgdesc = OCP news feed stream extractor plugin
	pkgver = 0.0.3
	pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-ocp-news-plugin
	arch = any
	license = custom:Apache-2.0
	makedepends = python-pip
	depends = python
	depends = python-beautifulsoup4
	depends = python-ovos-ocp-m3u-plugin
	depends = python-ovos-ocp-rss-plugin
	depends = python-ovos-plugin-common-play
	depends = python-pytz
	depends = python-requests
	noextract = ovos_ocp_news_plugin-0.0.3-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/f0/46/2864cbcdd014161d3baec6218cdb7671303cc7df62bf2190ee5b7130e671/ovos_ocp_news_plugin-0.0.3-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = ab2e7820d394d8997c45d0685238b12a
	md5sums = 9d420cc7b7693a7db7bf394ac0f197a5

pkgname = python-ovos-ocp-news-plugin
