pkgbase = python-ovos-listener
	pkgdesc = ovos-core listener daemon client
	pkgver = 0.0.2a10
	pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-listener
	arch = any
	license = Apache
	makedepends = python-pip
	depends = python
	depends = python-ovos-backend-client
	depends = python-ovos-bus-client
	depends = python-ovos-config
	depends = python-ovos-plugin-manager
	depends = python-ovos-stt-plugin-server
	depends = python-ovos-stt-plugin-vosk
	depends = python-ovos-utils
	depends = python-ovos-vad-plugin-webrtcvad
	depends = python-ovos-ww-plugin-pocketsphinx
	depends = python-ovos-ww-plugin-precise
	depends = python-ovos-ww-plugin-precise-lite
	depends = python-ovos-ww-plugin-vosk
	depends = python-pyaudio
	depends = python-speechrecognition
	depends = python-requests
	noextract = ovos_listener-0.0.2a10-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/df/b3/9645d0409868685fc4524875b582444b6f8d5a0265bd313e434f56c13f19/ovos_listener-0.0.2a10-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = 38e6618891227741148bdb0c51a359d3
	md5sums = a5c534c0b0d5eb7b11a937c909109c2c

pkgname = python-ovos-listener
