pkgbase = python-ovos-listener
	pkgdesc = ovos-core listener daemon client
	pkgver = 0.0.2a6
	pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-listener
	arch = any
	license = Apache
	makedepends = python-pip
	depends = python
	depends = python-ovos-backend-client
	depends = python-ovos-bus-client
	depends = python-ovos-config
	depends = python-ovos-plugin-manager
	depends = python-ovos-stt-plugin-server
	depends = python-ovos-stt-plugin-vosk
	depends = python-ovos-utils
	depends = python-ovos-vad-plugin-webrtcvad
	depends = python-ovos-ww-plugin-pocketsphinx
	depends = python-ovos-ww-plugin-precise
	depends = python-ovos-ww-plugin-precise-lite
	depends = python-ovos-ww-plugin-vosk
	depends = python-pyaudio
	depends = python-speechrecognition
	noextract = ovos_listener-0.0.2a6-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/5d/1b/d6a4ca1947c009df5b68fd309e770c0fb23796bd960a43620d2f147389b2/ovos_listener-0.0.2a6-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = a30581aba038fb37a4b36f8ec950d0e1
	md5sums = a5c534c0b0d5eb7b11a937c909109c2c

pkgname = python-ovos-listener
