pkgbase = python-ovos-skill-homescreen
	pkgdesc = OVOS skill plugin
	pkgver = 0.0.2
	pkgrel = 00
	url = https://github.com/OpenVoiceOS/skill-ovos-homescreen
	arch = any
	license = custom:Apache-2.0
	makedepends = python-pip
	depends = python
	depends = python-ovos-lingua-franca
	depends = python-ovos-phal-plugin-wallpaper-manager
	depends = python-ovos-skills-manager
	depends = python-ovos-utils
	depends = python-ovos-workshop
	depends = python-requests
	noextract = ovos_skill_homescreen-0.0.2-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/ee/9b/c3c44f16097a263b43855385fbc0b57675aec04cb329b0227cc5ed0f118a/ovos_skill_homescreen-0.0.2-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = 16aa5f4afc0ebf0a505149ee804a263d
	md5sums = 86d3f3a95c324c9479bd8986968f4327

pkgname = python-ovos-skill-homescreen
