pkgbase = python-ovos-phal
	pkgver = 0.0.5a4
	pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-PHAL
	arch = any
	license = custom:apache-2.0
	makedepends = python-pip
	depends = python
	depends = python-ovos-bus-client
	depends = python-ovos-config
	depends = python-ovos-phal-plugin-color-scheme-manager
	depends = python-ovos-phal-plugin-connectivity-events
	depends = python-ovos-phal-plugin-ipgeo
	depends = python-ovos-phal-plugin-network-manager
	depends = python-ovos-phal-plugin-oauth
	depends = python-ovos-phal-plugin-system
	depends = python-ovos-phal-plugin-wallpaper-manager
	depends = python-ovos-plugin-manager
	depends = python-ovos-utils
	depends = python-ovos-workshop
	noextract = ovos_PHAL-0.0.5a4-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/df/4e/4edd27620fedccc22ade0aa78981ff83974783930ef67d756874101ec1ac/ovos_PHAL-0.0.5a4-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = ca8437f14421ec4dac2d20330fc80f73
	md5sums = f8e21961459543cbb99d684336cca043

pkgname = python-ovos-phal
