pkgbase = python-skill-soundcloud-git
	pkgdesc = ovos skill plugin
	pkgver = r19.ff3c56c
	pkgrel = 1
	url = https://github.com/OpenVoiceOS/skill-ovos-soundcloud
	arch = any
	license = custom:Apache-2.0
	makedepends = python-pip
	makedepends = python-wheel
	makedepends = git
	depends = python
	depends = python-nuvem-de-som
	depends = python-ovos-plugin-common-play
	depends = python-ovos-utils
	depends = python-ovos-workshop
	provides = python-skill-soundcloud
	conflicts = python-skill-soundcloud
	source = PKGBUILD_EXTRAS
	source = git+https://github.com/OpenVoiceOS/skill-ovos-soundcloud
	source = LICENSE
	md5sums = SKIP
	md5sums = SKIP
	md5sums = d58e539155262e617b64b12018014cf6

pkgname = python-skill-soundcloud-git
