pkgbase = python-ovos-skill-filebrowser
	pkgdesc = OVOS file browser skill plugin
	pkgver = 0.0.3a2
	pkgrel = 00
	url = https://github.com/OpenVoiceOS/skill-ovos-filebrowser
	arch = any
	license = custom:Apache-2.0
	makedepends = python-pip
	depends = python
	depends = python-ovos-bus-client
	depends = python-ovos-utils
	depends = python-ovos-workshop
	noextract = ovos_skill_filebrowser-0.0.3a2-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/05/04/8f9d5fb980d5fd34991893b2f7494dc40586eb747253ce45a126893d6779/ovos_skill_filebrowser-0.0.3a2-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = 83ad82460616a1d9a08106ddd13a0688
	md5sums = 86d3f3a95c324c9479bd8986968f4327

pkgname = python-ovos-skill-filebrowser
