pkgbase = python-padacioso
	pkgdesc = dead simple intent parser
	pkgver = 0.1.2
	pkgrel = 00
	url = https://github.com/OpenJarbas/padacioso
	arch = any
	license = custom:apache-2.0
	makedepends = python-pip
	makedepends = python-wheel
	depends = python
	depends = python-simplematch
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/27/a2/eab4eff46b37c7bd9072159725aae91c23999a505f8e186150e68d7e80f8/padacioso-0.1.2.tar.gz
	source = LICENSE
	md5sums = SKIP
	md5sums = a9ac6154621d36f0091fe6108a945c3b
	md5sums = ffb93058331cc7f50f76179423b9c219

pkgname = python-padacioso
