pkgbase = python-zipp
	pkgdesc = Backport of pathlib-compatible object wrapper for zip files
	pkgver = 3.15.0
	pkgrel = 00
	url = https://github.com/jaraco/zipp
	arch = any
	license = MIT
	makedepends = python-pip
	depends = python
	noextract = zipp-3.15.0-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/5b/fa/c9e82bbe1af6266adf08afb563905eb87cab83fde00a0a08963510621047/zipp-3.15.0-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = 7c135a41b74b0ae8a5d67b665f4facdf
	md5sums = 7a7126e068206290f3fe9f8d6c713ea6

pkgname = python-zipp
