pkgbase = python-ovos-workshop
	pkgdesc = frameworks, templates and patches for the mycroft universe
	pkgver = 0.0.12a3
	pkgrel = 00
	url = https://github.com/OpenVoiceOS/OVOS-workshop
	arch = any
	license = custom:apache-2.0
	makedepends = python-pip
	depends = python
	depends = python-ovos-bus-client
	depends = python-ovos-config
	depends = python-ovos-lingua-franca
	depends = python-ovos-utils
	noextract = ovos_workshop-0.0.12a3-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/fe/6a/4c6dbd3fe3a6eff54be7a6d81e607ac1b4b11312eeb5f39e16e0320ecf52/ovos_workshop-0.0.12a3-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = a2cd9cd7bbf3e1951294df045f38a42c
	md5sums = 045edd5501b7c33e6848b421aa2d9e1e

pkgname = python-ovos-workshop
