pkgbase = python-ovos-workshop
	pkgdesc = frameworks, templates and patches for the mycroft universe
	pkgver = 0.0.12a4
	pkgrel = 00
	url = https://github.com/OpenVoiceOS/OVOS-workshop
	arch = any
	license = custom:apache-2.0
	makedepends = python-pip
	depends = python
	depends = python-ovos-bus-client
	depends = python-ovos-config
	depends = python-ovos-lingua-franca
	depends = python-ovos-utils
	noextract = ovos_workshop-0.0.12a4-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/88/80/73c8bd25d6e4ad25a56a5439e58331954ca7435b58fedc7c9f6c9ee5f603/ovos_workshop-0.0.12a4-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = b3cf56c112d9dd3ae295f0517f82ee10
	md5sums = 045edd5501b7c33e6848b421aa2d9e1e

pkgname = python-ovos-workshop
