pkgbase = python-neon-skill-alerts
	pkgver = 1.4.1a2
	pkgrel = 00
	url = https://github.com/NeonGeckoCom/skill-alerts
	arch = any
	license = custom:BSD-3-Clause
	makedepends = python-pip
	depends = python
	depends = python-combo-lock
	depends = python-json-database
	depends = python-neon-utils
	depends = python-ovos-utils
	noextract = neon_skill_alerts-1.4.1a2-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/87/c0/d210de18b2305d8200748d51cfc523bb31a00701e84bc573b73d2f6cc48f/neon_skill_alerts-1.4.1a2-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = 77f60e6bcafa8edf4321fc4aec3bc0a6
	md5sums = 714c92f4075241d2f6a58035f06fc164

pkgname = python-neon-skill-alerts
