pkgbase = python-ovos-dinkum-listener
	pkgdesc = ovos-core listener daemon client
	pkgver = 0.0.2a12
	pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-dinkum-listener
	arch = any
	license = Apache
	makedepends = python-pip
	depends = python
	depends = python-ovos-backend-client
	depends = python-ovos-bus-client
	depends = python-ovos-plugin-manager
	depends = python-ovos-utils
	depends = python-pyalsaaudio
	depends = python-sdnotify
	depends = python-speechrecognition
	noextract = ovos_dinkum_listener-0.0.2a12-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/b8/73/aabb3486f79546610e68cb3d0b89cd457a8b4024cfde95b185550e79208f/ovos_dinkum_listener-0.0.2a12-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = 8f354df5051996277aca953bb9c8f53d
	md5sums = a5c534c0b0d5eb7b11a937c909109c2c

pkgname = python-ovos-dinkum-listener
