pkgbase = python-ovos-plugin-manager
	pkgdesc = OpenVoiceOS plugin manager
	pkgver = 0.0.23a9
	pkgrel = 00
	url = https://github.com/OpenVoiceOS/OVOS-plugin-manager
	arch = any
	license = custom:Apache-2.0
	makedepends = python-pip
	depends = python
	depends = python-combo-lock
	depends = python-importlib-metadata
	depends = python-langcodes
	depends = python-ovos-bus-client
	depends = python-ovos-config
	depends = python-ovos-utils
	depends = python-quebra-frases
	depends = python-requests
	depends = python-setuptools
	noextract = ovos_plugin_manager-0.0.23a9-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/5e/65/b0017fac3f49a008259f368eb7521910c7eb5c0e35a9936737679103ec24/ovos_plugin_manager-0.0.23a9-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = 0a41e467bc64758e86a3972e1f9c665a
	md5sums = 045edd5501b7c33e6848b421aa2d9e1e

pkgname = python-ovos-plugin-manager
