pkgbase = python-ovos-ww-plugin-precise-lite
	pkgdesc = A wake word plugin for OpenVoiceOS
	pkgver = 0.1.2a4
	pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-ww-plugin-precise-lite
	arch = any
	license = Apache
	makedepends = python-pip
	depends = python
	depends = python-ovos-plugin-manager
	depends = python-ovos-utils
	depends = python-precise-lite-runner
	depends = python-requests
	noextract = ovos_ww_plugin_precise_lite-0.1.2a4-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/50/e4/d5d27725ffb3f14cc2981cf7728527be8417485276520ebdd6eb7e9779e1/ovos_ww_plugin_precise_lite-0.1.2a4-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = 648131b8bad7ebe2ca8f5dcaf357614b
	md5sums = 045edd5501b7c33e6848b421aa2d9e1e

pkgname = python-ovos-ww-plugin-precise-lite
