pkgbase = python-ovos-bus
	pkgdesc = ovos-core metapackage for bus daemon
	pkgver = 0.0.2a1.post1
	pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-core
	arch = any
	license = custom:Apache-2.0
	makedepends = python-pip
	makedepends = python-wheel
	depends = python
	depends = python-ovos-core
	depends = python-tornado
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/ed/48/878371f7eb4efee99666d4df57da3ae3e6bdc1b4d0c28c78462c350d4766/ovos-bus-0.0.2a1.post1.tar.gz
	source = LICENSE
	md5sums = SKIP
	md5sums = a37de802f782047e700c79e65a3dddaf
	md5sums = 716a6805caa0b351a3f9443d428891e8

pkgname = python-ovos-bus
