pkgbase = python-ovos-tts-plugin-mimic
	pkgdesc = mimic tts plugin for OpenVoiceOS
	pkgver = 0.2.8
	pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-tts-plugin-mimic
	arch = any
	license = Apache
	makedepends = python-pip
	depends = python
	depends = python-ovos-plugin-manager
	noextract = ovos_tts_plugin_mimic-0.2.8-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/14/0f/b0fba355b7d871fc1c123c7f13a9891037f99ff9c3f739f2490bca48994d/ovos_tts_plugin_mimic-0.2.8-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = dedb3fbe6369882e97281edd74c49ac7
	md5sums = 045edd5501b7c33e6848b421aa2d9e1e

pkgname = python-ovos-tts-plugin-mimic
