pkgbase = python-ovos-phal-plugin-system
	pkgdesc = A plugin for OpenVoiceOS hardware abstraction layer
	pkgver = 0.0.4a2
	pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-PHAL-plugin-system
	arch = any
	license = Apache
	makedepends = python-pip
	depends = python
	depends = python-ovos-config
	depends = python-ovos-plugin-manager
	depends = python-ovos-utils
	noextract = ovos_PHAL_plugin_system-0.0.4a2-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/1e/40/d7632bef11e5eff09475587cb65bed8ef48a1533c85e3e72e0dded16c4e1/ovos_PHAL_plugin_system-0.0.4a2-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = 770f97820376c2a4244bd75ed696e70f
	md5sums = a5c534c0b0d5eb7b11a937c909109c2c

pkgname = python-ovos-phal-plugin-system
