pkgbase = python-ovos-skill-naptime
	pkgdesc = ovos skill plugin
	pkgver = 0.2.2
	pkgrel = 00
	url = https://github.com/OpenVoiceOS/skill-ovos-naptime
	arch = any
	license = custom:Apache-2.0
	makedepends = python-pip
	depends = python
	depends = python-ovos-utils
	depends = python-ovos-workshop
	noextract = ovos_skill_naptime-0.2.2-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/4f/e4/d0b69405ef5d255cdd2c79a5b91965a942c6a77450bdf193290d75099440/ovos_skill_naptime-0.2.2-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = 36add1a45c896dbef82300cfaccdf678
	md5sums = 175792518e4ac015ab6696d16c4f607e

pkgname = python-ovos-skill-naptime
