pkgbase = python-ovos-skill-stop
	pkgdesc = ovos skill plugin
	pkgver = 0.2.1
	pkgrel = 00
	url = https://github.com/OpenVoiceOS/skill-ovos-stop
	arch = any
	license = custom:Apache-2.0
	makedepends = python-pip
	depends = python
	depends = python-ovos-utils
	depends = python-ovos-workshop
	noextract = ovos_skill_stop-0.2.1-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/d4/72/5503bba41530fef0cb2341d3d30b3e4a8924899b5b84b2496a1b33edd58d/ovos_skill_stop-0.2.1-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = 38af68254ef58c841b7860dae88aa878
	md5sums = 86d3f3a95c324c9479bd8986968f4327

pkgname = python-ovos-skill-stop
