pkgbase = python-ovos-tts-plugin-cotovia
	pkgdesc = A galician/spanish tts plugin for mycroft
	pkgver = 0.2.0
	pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-tts-plugin-cotovia
	arch = any
	license = Apache
	makedepends = python-pip
	makedepends = python-wheel
	depends = python
	depends = python-ovos-plugin-manager
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/a0/02/a62a6dce24b188f74796d3e8adf14fdbc63c169fe8279641bcfae6e9ac53/ovos-tts-plugin-cotovia-0.2.0.tar.gz
	source = LICENSE
	md5sums = SKIP
	md5sums = 82138f579d30f0c3de973316ebb01486
	md5sums = a5c534c0b0d5eb7b11a937c909109c2c

pkgname = python-ovos-tts-plugin-cotovia
