pkgbase = python-ovos-skills-manager
	pkgdesc = Open Voice OS skill manager
	pkgver = 0.0.13a2
	pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos_skill_manager
	arch = any
	license = custom:Apache-2.0
	makedepends = python-pip
	depends = python
	depends = python-bs4
	depends = python-click
	depends = python-click-default-group
	depends = python-combo-lock
	depends = python-json-database
	depends = python-ovos-config
	depends = python-ovos-skill-installer
	depends = python-ovos-utils
	depends = python-packaging
	depends = python-pako
	depends = python-pyyaml
	depends = python-requests
	depends = python-requests-cache
	noextract = ovos_skills_manager-0.0.13a2-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/3a/41/386ae9afa4342db730b295db4bd6aae5d6891ec681a7f925ae0cfe0da1a8/ovos_skills_manager-0.0.13a2-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = 2563e6de83f9e4a51a0f3eb3cc8c3365
	md5sums = 456bb04e72aa43a1dc74d3a07c910138

pkgname = python-ovos-skills-manager
