pkgbase = python-pytube
	pkgdesc = Python 3 library for downloading YouTube Videos.
	pkgver = 12.1.3
	pkgrel = 00
	url = https://github.com/pytube/pytube
	arch = any
	license = custom:The Unlicense (Unlicense)
	makedepends = python-pip
	depends = python
	noextract = pytube-12.1.3-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/40/79/a3cf0d933ae16031585535333fdc43217fce09205bc8bd061cb733982118/pytube-12.1.3-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = c08e00fdd8ac2de86e240fb777993927
	md5sums = 7246f848faa4e9c9fc0ea91122d6e680

pkgname = python-pytube
