pkgbase = python-ovos-skill-hello-world
	pkgdesc = OVOS hello world skill plugin
	pkgver = 0.0.4a1
	pkgrel = 00
	url = https://github.com/OpenVoiceOS/skill-ovos-hello-world
	arch = any
	license = custom:Apache-2.0
	makedepends = python-pip
	depends = python
	noextract = ovos_skill_hello_world-0.0.4a1-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/d0/44/a691f0f766517465614bd8270ac544170915768ef89bbb10428c538a9da9/ovos_skill_hello_world-0.0.4a1-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = 3596120b0eb1e6b26c19e4ea7c0d13ce
	md5sums = 86d3f3a95c324c9479bd8986968f4327

pkgname = python-ovos-skill-hello-world
