pkgbase = python-ovos-skill-hello-world
	pkgdesc = OVOS hello world skill plugin
	pkgver = 0.0.3
	pkgrel = 00
	url = https://github.com/OpenVoiceOS/skill-ovos-hello-world
	arch = any
	license = custom:Apache-2.0
	makedepends = python-pip
	depends = python
	noextract = ovos_skill_hello_world-0.0.3-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/d5/90/f21d1a45f46fd9186269933dd78000982696836b81e5c7f89c161985a28f/ovos_skill_hello_world-0.0.3-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = b1c172ac25fd3a7f3e7a56e777545a21
	md5sums = 86d3f3a95c324c9479bd8986968f4327

pkgname = python-ovos-skill-hello-world
