pkgbase = python-soupsieve
	pkgdesc = A modern CSS selector implementation for Beautiful Soup.
	pkgver = 2.4
	pkgrel = 00
	url = https://pypi.org/project/soupsieve/
	arch = any
	license = MIT
	makedepends = python-pip
	depends = python
	noextract = soupsieve-2.4-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/d2/70/2c92d7bc961ba43b7b21032b7622144de5f97dec14b62226533f6940798e/soupsieve-2.4-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = a355353d347aeaed8f07ddd2f15cdaef
	md5sums = 3ddc9ea27f7286b3d3de7cbf734ffd09

pkgname = python-soupsieve
