pkgbase = python-soupsieve
	pkgdesc = A modern CSS selector implementation for Beautiful Soup.
	pkgver = 2.4.1
	pkgrel = 00
	url = https://pypi.org/project/soupsieve/
	arch = any
	license = MIT
	makedepends = python-pip
	depends = python
	noextract = soupsieve-2.4.1-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/49/37/673d6490efc51ec46d198c75903d99de59baffdd47aea3d071b80a9e4e89/soupsieve-2.4.1-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = 6875248beccf372da7f1132dcb48a758
	md5sums = 3ddc9ea27f7286b3d3de7cbf734ffd09

pkgname = python-soupsieve
