pkgbase = python-ovos-config
	pkgdesc = mycroft-core configuration module
	pkgver = 0.0.8a4
	pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-config
	arch = any
	license = custom:Apache-2.0
	makedepends = python-pip
	depends = python
	depends = python-combo-lock
	depends = python-ovos-backend-client
	depends = python-ovos-utils
	depends = python-dateutil
	depends = python-yaml
	depends = python-rich-click
	depends = python-watchdog
	noextract = ovos_config-0.0.8a4-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/dc/57/c1b6609d7dae16368f64aab7c0fa85345465b0c423748c39ef4926ca7d96/ovos_config-0.0.8a4-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = d148fcf00df497fde9857dd32be821d6
	md5sums = d58e539155262e617b64b12018014cf6

pkgname = python-ovos-config
