pkgbase = python-ovos-tts-plugin-server
	pkgdesc = ovos tts server plugin for mycroft
	pkgver = 0.0.2a1
	pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-tts-server-plugin
	arch = any
	license = Apache
	makedepends = python-pip
	makedepends = python-wheel
	depends = python
	depends = python-ovos-plugin-manager
	depends = python-requests
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/25/c7/e5039565a2293cac3602d793fe7ccb54e808c9c4c11b466af5999d850a1a/ovos-tts-plugin-server-0.0.2a1.tar.gz
	source = LICENSE
	md5sums = SKIP
	md5sums = 1582d11590946a2d289c10c44eb34214
	md5sums = a5c534c0b0d5eb7b11a937c909109c2c

pkgname = python-ovos-tts-plugin-server
