pkgbase = python-ovos-ww-plugin-snowboy
	pkgdesc = Snowboy wake word plugin for mycroft
	pkgver = 0.1.3a1
	pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-ww-plugin-snowboy
	arch = x86_64
	license = Apache
	makedepends = python-pip
	depends = python
	depends = python-ovos-plugin-manager
	noextract = ovos_ww_plugin_snowboy-0.1.3a1-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/e5/f7/6a8aa593a4121995fe46c6c01dfb9b0144802446c157e17dcb9f8854482f/ovos_ww_plugin_snowboy-0.1.3a1-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = 1f6209495135aff3805843dc743c2d12
	md5sums = a5c534c0b0d5eb7b11a937c909109c2c

pkgname = python-ovos-ww-plugin-snowboy
