pkgbase = python-ovos-skill-personal
	pkgdesc = OVOS personal skill plugin
	pkgver = 0.0.3
	pkgrel = 00
	url = https://github.com/OpenVoiceOS/ovos-skill-personal
	arch = any
	license = custom:Apache-2.0
	makedepends = python-pip
	depends = python
	depends = python-ovos-utils
	depends = python-ovos-workshop
	noextract = ovos_skill_personal-0.0.3-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/7a/23/fea55f4e1bfd4d52ed13b4477f43d17c7ce05dce1fb22b175b729d5de8ed/ovos_skill_personal-0.0.3-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = feda8f0fea67fbe7c1807699a8695f77
	md5sums = 86d3f3a95c324c9479bd8986968f4327

pkgname = python-ovos-skill-personal
