pkgbase = python-ovos-skill-fallback-unknown
	pkgver = 0.0.3
	pkgrel = 00
	url = https://github.com/OpenVoiceOS/skill-ovos-fallback-unknown
	arch = any
	license = custom:Apache-2.0
	makedepends = python-pip
	depends = python
	noextract = ovos_skill_fallback_unknown-0.0.3-py3-none-any.whl
	source = PKGBUILD_EXTRAS
	source = https://files.pythonhosted.org/packages/27/d6/ab43a66faccb43f9e1e1f486544c2f161344d48b2957b8f4799c3039dc59/ovos_skill_fallback_unknown-0.0.3-py3-none-any.whl
	source = LICENSE
	md5sums = SKIP
	md5sums = c97aac911559a402afc808b184784570
	md5sums = e3fc50a88d0a364313df4b21ef20c29e

pkgname = python-ovos-skill-fallback-unknown
